public\resources\blog_images\*
public\resources\company_logo\*
public\resources\media_images\*
public\resources\profile_images\*
public\resources\slider_images\*
public\resources\page_templates\*

public\site_images\1453096156_video.mp4
public\site_images\how.mp4
public\site_images\key.mp4
public\site_images\land_how_mobile.mp4
public\site_images\land_how.mp4
public\site_images\start_here.mp4